{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> راهنما{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
	
	
	
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

			<div class="row">
				
			<h3 style="text-align:center">
					این صفحه در حال بارگذاری است. 
			</h3>	
	
			</div>
            
       
		</section>
		
	{% endblock section %}	

