{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> {% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
					<h2> Password Change Page</h2>
					<p> You have successfully changed your password. </p>
					<p>
					Click <a href='/accounts/myprofile'> here </a> to return to your profile page.
					</p>
					<hr>

				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	

