{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> رمز عبور{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
					<h3 style="text-align:center"> 
					    رمز عبور شما با موفقیت تغییر یافت. جهت تایید به زودی یک ایمیل از بیتاسینک دریافت خواهید کرد.
					</h3>
					
					<hr>

				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	

