{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %}
 گوشی ب گوشی -> رمز ورود
{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
				
				<h3 style="text-align:center; font-size:20px">
یک ایمیل از طرف "گوشی ب گوشی" برای شما ارسال شد. لطفا این ایمیل را مشاهده نموده و طبق دستور العمل رمز عبور جدیدتان را فعال کنید.
				<h3>
				

				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	













