{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> {% endblock title %}


	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				
				
				<div class="row">
							
								 <div class="col-sm-6 col-sm-offset-3 form-box">
									<div class="form-top">
										<div class="form-top-left">
											<h3></h3>
											<p style="font-family:b mehr">نام کاربری و کلمه عبور خود را وارد کنید</p>
										</div>
										<div class="form-top-right">
											<i class="fa fa-lock"></i>
										</div>
									</div>
									<div class="form-bottom">

							 <form role="form" action='' method='post' class="login-form"> {% csrf_token  %}
			{{ form.field_errors }}		                    	
		<div class="form-group">
												<label class="sr-only" for="{{ form.username.id_for_label }}">نام کاربری</label>
												<input type="text" name="{{ form.username.html_name }}" placeholder="نام کاربری ..." class="form-username form-control" id="{{ form.username.id_for_label }}">
						
											</div>
											<div class="form-group">
												<label class="sr-only" for="{{ form.password.id_for_label }}">کلمه عبور</label>
												<input type="password" name="{{ form.password.html_name }}" placeholder="کلمه عبور ..." class="form-password form-control" id="{{ form.password.id_for_label }}">
												
											{% if form.non_field_errors  %}											
                                                <span > <strong style="color:red">
                                                    اطلاعات وارد شده صحیح نیست. لطفا دوباره امتحان کنید. 
                                                </strong> </span>                                                                                       
                                            {% endif %}
											</div>
											
                                            
											
											<button type="submit" class="btn">ورود</button>
											<br><br>
		<a href='/accounts/password_reset/'> <b>کلمه عبور خود را فراموش کرده اید؟</b></a><br>
	
		
								 

										</form>
									</div>
								</div>
							</div>
						
				
				
				<div class="row">
					{% if validlink %}
					
					<p>
					رمز عبور جدید را وارد کنید
					</p>
					
					<form action="" method="post">
					{% csrf_token %}


					<p>
						<label for="id_new_password1">
						رمز عبور 
						</label>
						{{ form.new_password1 }} 
						
						
						      
					</p>
				
					<p>
						<label for="id_new_password2"> 
                        تایید رمز عبور 
						</label>
						{{ form.new_password2 }}
						
						{% if form.new_password2.errors %}
						    <p> <strong style="color:red"> رمز عبور وارد شده باید یکسان باشند </strong> </p>						
				        {% endif %}
						
					
					<p><input type="submit" value="ثبت رمز عبور جدید" /></p>
					</form>

					{% else %}

					<h3 style="text-align:center; font-size:25px">
ایجاد رمز عبور جدید با این لینک امکان پذیر نمی باشد. لطفا 

                        <a href="/accounts/login/">
اینجا
                        </a>
 کلیک کنید و دوباره رمز عبور جدید را تقاضا کنید. 
					</h3>

					{% endif %}
				</div>
			 
			
			
			
			</div>
            
       
		</section>
	{% endblock section %}	



