{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> {% endblock title %}


	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
					{% if validlink %}
					
					<p>
					رمز عبور جدید را وارد کنید
					</p>
					
					<form action="" method="post">
					{% csrf_token %}


					<p>
						<label for="id_new_password1">
						رمز عبور 
						</label>
						{{ form.new_password1 }} 
						
						
						      
					</p>
				
					<p>
						<label for="id_new_password2"> 
                        تایید رمز عبور 
						</label>
						{{ form.new_password2 }}
						
						{% if form.new_password2.errors %}
						    <p> <strong style="color:red"> رمز عبور وارد شده باید یکسان باشند </strong> </p>						
				        {% endif %}
						
					</p>
					<p><input type="submit" value="ثبت رمز عبور جدید" /></p>
					</form>

					{% else %}

					<h3 style="text-align:center; font-size:25px">
ایجاد رمز عبور جدید با این لینک امکان پذیر نمی باشد. لطفا 

                        <a href="/accounts/login/">
اینجا
                        </a>
 کلیک کنید و دوباره رمز عبور جدید را تقاضا کنید. 
					</h3>

					{% endif %}
				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	



