{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} 
گوشی ب گوشی -> رمز ورود
{% endblock title %}


	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
					
					<h3 style="font-size:25px ; text-align:center">
					       رمز عبور با موفقیت تغییر یافت. اکنون می توانید با رمز عبور جدید وارد شوید.
					</h3>
					
				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	



