{% load i18n %}

{% autoescape off %}
<div style="direction: rtl">
سلام
<br><br>

شما درخواست ایجاد رمز عبور جدید را روی وب سایت "گوشی ب گوشی" ثبت کرده اید. لطفا روی لینک زیر کلیک کنید و رمز جدید را وارد نمایید. 

<br><br>

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

<br><br>
نام کاربری شما این است: 
 {{ user.get_username }}
 
<br> <br>
با تشکر از تماس شما

<br> <br>
با مهر
<br> 
تیم پشتیبانی "گوشی ب گوشی"

</div>
{% endautoescape %}



