{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> رمز عبور {% endblock title %}


	

	{% block extracss %} 
		 <link rel="stylesheet" href="{% static "user_profile/css/reset_pass.css" %}">		 

		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
	
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

                
                
                	
				<div class="row">
							
                      <div class="col-sm-6 col-sm-offset-3 form-box">

                         <div class="form-top">
                            <div class="form-top-left">
                                <h3></h3>
                                <p style="font-family:b mehr">رمز عبور جدید را وارد کنید</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                          
                        <div class="form-bottom">
	
				       <form role="form" action='' method='post' class="login-form"> {% csrf_token  %}
                           
			             {{ form.field_errors }}
                           
                           
                           
                            <div class="form-group">
					
                                    <label class="sr-only" for="{{ form.old_password.id_for_label }}">رمز عبور قبلی</label>
                                    <input type="password" name="{{ form.old_password.html_name }}" placeholder="رمز عبور قبلی" class=" form-control" id="{{ form.old_password.id_for_label }}" style="text-align: right; direction: rtl;">

                                    {% if form.old_password.errors %}
                                        <span style="color:red"> <strong>
                    رمز عبور قدیمی صحیح نیست. دوباره امتحان کنید.
                                        </strong> </span>
                                    {% endif %}
					
					       </div>       
                           
                           
                             <div class="form-group">

                            <label class="sr-only" for="{{ form.new_password1.id_for_label }}">رمز عبور جدید</label>
                            <input type="password" name="{{ form.new_password1.html_name }}" placeholder="رمز عبور جدید" class="form-control form-password" id="{{ form.new_password1.id_for_label }}" style="text-align: right; direction: rtl;">

                                {% if form.new_password1.errors %}
                                    <span style="color:red"> <strong>
            رمز های عبور جدید که وارد کرده اید باید یکسان باشند.
                                    </strong> </span>
                                {% endif %}

                           </div>  
                           
                           
                           <div class="form-group">
					
					    <label class="sr-only" for="{{ form.new_password2.id_for_label }}"> تکرار رمز عبور جدید</label>
					    <input type="password" name="{{ form.new_password2.html_name }}" placeholder="رمز عبور جدید" class=" form-control form-password" id="{{ form.new_password2.id_for_label }}" style="text-align: right; direction: rtl;">

                            {% if form.new_password2.errors %}
                                <span style="color:red"> <strong>
        رمز های عبور جدید که وارد کرده اید باید یکسان باشند.
                                </strong> </span>
                            {% endif %}
					
					       </div>
                           
                           <button type="submit" class="btn">ثبت رمز عبور جدید</button>
				           <br><br>
			 

                      </form>
                            
										
						</div>
                          
				  </div>
                    
				
            </div>
						
				
                
                
                
				
		</div>


            
       
		</section>
	{% endblock section %}	

