{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> ثبت نام {% endblock title %}


	

	{% block extracss %} 
		   <link rel="stylesheet" href="{% static "user_profile/css/register.css" %}">
	{% endblock extracss %}

	{% block extrajs %}
		<script src="{% static "user_profile/js/register.js" %}"></script>
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<!--<h2></h2>
    	<h6></h6>-->
      
        
           <div class="row">
                    	<!--<div class="col-sm-6 phone">
                    		<img src="{% static "user_profile/assets/img/iphone.png" %}" alt="">
                    	</div>-->
               <div class="col-sm-6 form-box col-sm-offset-3">
				<div class="form-top">
					<div class="form-top-left" style="margin-top: 20px;">
						<h3>لطفا اطلاعات زیر را وارد کنید</h3>
						<h5 style="font-family: b roya ! important; font-size: 17px;">فقط از حروف انگلیسی استفاده فرمایید </h5>
					</div>
					<div class="form-top-right">
						<i class="fa fa-pencil"></i>
					</div>
				</div>
				<div class="form-bottom">
					<form role="form" action="" method="post" class="registration-form">
{% csrf_token  %}
	{{ form.field_errors }}	

			<div class="form-group">
				<label class="sr-only" for="{{ user_form.username.id_for_label }}"> نام کاربری</label>
				<input type="text" name="{{ user_form.username.html_name }}" placeholder="نام کاربری " class="form-first-name form-control" id="{{ user_form.username.id_for_label }}">
				
				{% if user_form.username.errors %}
                    <span  > <strong style="color:red" > این حساب کاربری قبلا ثبت شده است. دوباره امتحان کنید </strong> </span>
                {% endif %}
				

			</div>

			<div class="form-group">
				<label class="sr-only" for="{{ user_form.password1.id_for_label }}">کلمه عبور </label>
				<input type="password" name="{{ user_form.password1.html_name }}" placeholder="کلمه عبور " class="form-last-name form-control" id="{{ user_form.password1.id_for_label }}">
				
				{% if user_form.password1.errors %}
                    <span style="color:red"> <strong> کلمات عبور وارد شده یکسان باید باشند </strong> </span>
                {% endif %}
				
			</div>

			<div class="form-group">
				<label class="sr-only" for="{{ user_form.password2.id_for_label }}">تایید کلمه عبور</label>
				<input type="password" name="{{ user_form.password2.html_name }}" placeholder="تایید کلمه عبور" class="form-control" id="{{ user_form.password2.id_for_label }}">
				
				{% if user_form.password2.errors %}
                    <span style="color:red"> <strong> کلمات عبور وارد شده یکسان باید باشند </strong> </span>
                {% endif %}
				
			</div>

			<div class="form-group">			                    
			<label class="sr-only" for="{{ user_profile_form.email.id_for_label }}">پست الکترونیک</label>
				<input type="email" name="{{ user_profile_form.email.html_name }}" placeholder="پست الکترونیک " class="form-email form-control" id="{{ user_profile_form.email.id_for_label }}">
				
				{% if user_profile_form.email.errors %}
                    <span style="color:red"> <strong> این ایمیل قبلا ثبت شده است.یک ایمیل جدید وارد نمایید </strong> </span>
                {% endif %}
				
			</div>

			<div class="form-group">			                    
			<label class="sr-only" for="{{ user_profile_form.mobile.id_for_label }}"> شماره موبایل</label>
				<input type="text" name="{{ user_profile_form.mobile.html_name }}" placeholder="شماره موبایل ( اختیاری )" class="form-control" id="{{ user_profile_form.mobile.id_for_label }}">
			</div>

			<div class="form-group">			                    
			<label style="float:right;" for="{{ user_profile_form.is_shop.id_for_label }}">آیا مغازه ای دارید که سرویس های تلفن همراه ارایه می دهد؟</label>
				<input style="width: 10%;" type="checkbox" name="{{ user_profile_form.is_shop.html_name }}"  class="form-control" id="{{ user_profile_form.is_shop.id_for_label }}">
			</div>

			<div class="form-group">			                    
			<label class="sr-only" for="{{ user_profile_form.address.id_for_label }}">آدرس (اختیاری)</label>
				<input style="display: none;" type="text" name="{{ user_profile_form.address.html_name }}" placeholder="آدرس (اختیاری)" class="form-control" id="{{ user_profile_form.address.id_for_label }}">
			</div>

<div class="form-group">			                    
			<label class="sr-only" for="{{ user_profile_form.telephone.id_for_label }}">تلفن (اختیاری)</label>
				<input style="display: none;" type="text" name="{{ user_profile_form.telephone.html_name }}" placeholder="تلفن - به همراه کد شهر (اختیاری)" class="form-control" id="{{ user_profile_form.telephone.id_for_label }}">
			</div>

<div class="form-group">			                    
			<label style="float:right;" for="{{ user_profile_form.read_agreement.id_for_label }}">قوانین و مقررات بیتاسینک را خوانده ام</label>
				<input style="width: 10%;" type="checkbox" name="{{ user_profile_form.read_agreement.html_name }}"  class="form-control" id="{{ user_profile_form.read_agreement.id_for_label }}">
			</div>


{{ form.non_field_errors }}



    <button type="submit" class="btn"> ثبت نام</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            
            
       
</section><!--main-section-end-->
	{% endblock section %}	









