



/***** Top content *****/

.inner-bg {
    padding: 60px 0 150px 0;
}

.top-content .text {
	padding-bottom: 60px;
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.top-content .form-box {
	padding-top: 80px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #eee;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: right;
}

.form-top-left {
	float: right;
	width: 80%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	color: #ddd;
    float: left;
    font-size: 66px;
    line-height: 100px;
    padding-top: 25px;
    text-align: center;
    width: 20%;
}

.form-bottom {
	padding: 25px 25px 60px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: center;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.form-bottom form button.btn {
    width: 100%;
}
.form-control {
	width: 60% !important;
	display:inline !important;
	font-family:tahoma;
}

.rglabel
{
	width:30%
}
.btn {
	font-size:20px !important;
	font-family:b mehr;
}
body {
    font-family: 'B Mehr';
    font-size: 16px;
    font-weight: 300;
   
    line-height: 30px;
    text-align: center;
    direction:rtl;
}
h3 {
    color: #555;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}