

<h2>
    Gift Card Information
</h2>

Your gift card is added to your profile. You can use it to get {{discount_percentage }}% discount on the following products: 

<hr>

<table border="1">

      <tr>
        <th>پکیج بیتاسینک - یک بار انتقال اطلاعات</th>
        <th>پکیج بیتاسینک - سه بار انتقال اطلاعات</th>		
        <th>پکیج بیتاسینک - شش بار انتقال اطلاعات</th>
      </tr>
      
      <tr>
        <td> عکس پکیج </td>
        <td> عکس پکیج </td>
        <td> عکس پکیج </td>
      </tr>
      
      <tr>
        <td> {{ original_price_L1}} </td>
        <td> {{ original_price_L3}} </td>
        <td> {{ original_price_L6}} </td>
      </tr>
      
      <tr>
        <td> {{ discounted_price_L1}} </td>
        <td> {{ discounted_price_L3}} </td>
        <td> {{ discounted_price_L6}} </td>
      </tr>
      
      <tr>
        <td> <a href="/bitasync/activate/U1/"> دکمه ی خرید </a> </td>
        <td> <a href="/bitasync/activate/U3/"> دکمه ی خرید </a> </td>
        <td> <a href="/bitasync/activate/U6/"> دکمه ی خرید </a </td>
      </tr>
      
</table>
 

