{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> قوانین{% endblock title %}


	

	{% block extracss %} 
		 	<link href="{% static "bitasync_site/css/aboutus.css"%}" rel="stylesheet" type="text/css">
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">
				<div class="row text-center">
							

							<div class="col-sm-5 col-xs-5 pull-right">
								<img alt="" src="/static/bitasync_site/img/bitapardaz.png">
								<div id="contactdiv" > 
									<p>021-88867646 &nbsp<span class="fa fa-phone fa-2x"></span> </p>
									<p>hello@gooshibegooshi.com &nbsp<span class="fa fa-envelope fa-2x"></span> </p>
									<p><a  href="http://telegram.me/gooshibegooshi" hello@gooshibegooshi.com > کانال تلگرام</a> <span class="fa fa-paper-plane fa-2x"></span> </p>
								</div>
								
							</div>

							<div class="col-sm-7 col-xs-7 pull-right">
							
								<p style="padding-top: 50px;line-height: 2; font-size: 20px; justify-content: center; text-align: justify;">
								وقتی یک موبایل جدید می خرید نرم افزار "گوشی ب گوشی" به شما کمک می کند تا به راحتی و بدون درد سر و سریع اطلاعاتی را که روی گوشی قدیمیتان دارید به گوشی جدید منتقل کنید. 
								</p>
								<p style="line-height: 2; font-size: 20px; justify-content: center; text-align: justify;">
									این نرم افزار توسط شرکت "توسعه فناوری همراه بیتاپرداز" تولید و پشتیبانی می شود. در آینده ای نزدیک محصولات "پشتیبان آنلاین" و "تخلیه ی امن اطلاعات گوشی" به بسته ی نرم افزاری "گوشی ب گوشی" اضافه خواهد شد.
								</p> 
							</div>
			 </div>
		</div>		
            
       
		</section>
	{% endblock section %}	


