{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> قوانین{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

    
    
<p>
وقتی یک موبایل جدید می خرید نرم افزار "گوشی ب گوشی" به شما کمک می کند تا به راحتی و بدون درد سر و سریع اطلاعاتی را که روی گوشی قدیمیتان دارید به گوشی جدید منتقل کنید. این نرم افزار توسط شرکت "توسعه فناوری همراه بیتاپرداز" تولید و پشتیبانی می شود. در آینده ای نزدیک محصولات "پشتیبان آنلاین" و "تخلیه ی امن اطلاعات گوشی" به بسته ی نرم افزاری "گوشی ب گوشی" اضافه خواهد شد.
</p> 
						

				
			 </div>
            
       
		</section>
	{% endblock section %}	


