{% load staticfiles %}


<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<title>گوشی ب گوشی</title>

		<link rel="stylesheet" href="{% static "bitasync_site/css/mystyle.css" %}">

		<script type="text/javascript">


			$(function() {
				$('a[href*="#"]:not([href="#"])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				  var target = $(this.hash);
				  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				  if (target.length) {
					$('html, body').animate({
					  scrollTop: target.offset().top
					}, 1000);
					return false;
				  }
				}
				});
				});

		</script>

	</head>

	<body>


		<nav  class="navbar navbar-default navbar-fixed-top" style="background-color: #3a536b; padding-top:13px; padding-bottom:13px;border-bottom-color:#c5f390; border-bottom-width: 3px;">

		  <div class="container">

			 <a class="navbar-brand navbar-right"  style="margin-right:30px;" href="#">
				 <b id="navbar_logo" style="padding-right:10px;" >گوشی ب گوشی</b>
				 <img src="/static/bitasync_site/img/navbar_gbg_logo.png" style="width:30px; display: inline-block;">
			 </a>

		    <div class="navbar-header" >
				<button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
		    </div>



			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right" style="padding-right:10px;direction:rtl">
	      			<li><a href="/bitasync/help_mobile_version/" >راهنمای برنامه موبایل</a></li>
					<li><a href="/#top"  >خانه</a></li>
	    		</ul>
			</div>


		  </div>

		</nav>



		{% block content %}

	    {% endblock %}




        <div class="container-fluid" style="padding-top:20px;background-color:#6d717a;padding-bottom:50px">


			<div class="row" style="direction:rtl;">

				<div class="col-lg-2"></div>

				<div class="col-lg-2 col-lg-push-6" style="padding-bottom:30px" >

					<div class="row">
							<div class="col-xs-12 " style="background-color:#e7aa3f;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-ok"></span>&nbsp;
							   انتقال آسان اطلاعات
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;">

								<div class="col-sm-12" style="direction:ltr;text-align:center;">
									<p style="font-weight:500;font-size:110%;direction:rtl;">
									   وقتی دوستت موبایل جدید خرید،‌گوشی ب گوشی رو بهش معرفی کن، شاید به دردش بخوره!
									</p>
								</div>
							</div>
					</div>


					<div class="row" style="padding-top:20px;" >
						<div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/gbg_typography_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
						</div>
					</div>


				</div>

				<div class="col-lg-1"></div>

				<div class="col-lg-2" style="padding-bottom:30px;">

					<div class="row">
							<div class="col-xs-12 " style="background-color:#bf5392;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-user"></span>&nbsp;
							   تماس با ما
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;text-align:center">

								<p style="font-weight:500;font-size:120%;" >
									<span class="glyphicon glyphicon-phone-alt" style="font-size:140%;vertical-align:middle"></span>
								</p>

								<p style="font-weight:500;font-size:120%;" >
									۰۲۱-۸۸۸۶۷۶۴۶
								</p>

							</div>
					</div>


					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;">

								<p style="font-weight:500;font-size:120%;text-align:center;direction:ltr" >
									<span class="glyphicon glyphicon-envelope" style="font-size:140%;vertical-align:middle"></span>
								</p>

								<p style="font-weight:500;font-size:120%;text-align:center;direction:ltr" >
									hi@gooshibegooshi.com
								</p>

							</div>
					</div>


				</div>

				<div class="col-lg-1"></div>


				<div class="col-lg-2 col-lg-pull-6" style="padding-bottom:30px;">

                    <div class="row" >
                            <div class="col-xs-12" style="background-color:#0586be;color:white;border-radius:4px;">

                                <p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
                                        <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
                                        دوست های ما
                                </p>
                            </div>
                    </div>


					<div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/mci_logo_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                        </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                            <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/kaspersky_logo.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                            </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/magia_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px ">
                        </div>
                    </div>



				 </div>

			</div>

		</div>

	</body>


</html>
