{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> {% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
					{% if plan_list %}

						

								<style>
								table, th, td {
									border: 1px solid black;
								}

								td {
									padding: 15px;
								}
								</style>
							<table>
							  <tr>
								<th> Plan Name </th>
								<th> Frequency </th>
								<th> Duration </th>
								<th> Description </th>
								<th> Purchase Link </th>
							  </tr>

							  {% for plan in plan_list %}

									<tr>

										<td> {{plan.plan_name}} </td>
										<td> {{plan.freq}} </td>
										<td> {{plan.duration}} </td>
										<td> {{plan.description}} </td>
										<td> <a href="/bitasync/activate/{{ plan.plan_name }}/" >  Activate this plan  </a> </td>

									</tr>

							  {% endfor %}

							</table>

							{% else %}
							  <p>
								No data transfer plans available.
							  </p>
							{% endif %}

				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	






