{% extends 'bitasync_site/base_responsive.html' %}
{% load staticfiles %}


{% block content %}


<div class="container" style="margin-top:0px;">
    <div class="row" style="">
        <div class="col-sm-12" style="height:250px;background:url({% static "bitasync_site/img/android_help/good_feelings.png" %}) no-repeat center center; background-size:cover;">

<!--            <p style="text-align: center;line-height: 250px;color:white;font-weight:500;font-size:500%" >
                راهنمای برنامه موبایل
            </p>

-->



        </div>
    </div>
</div>


<div class="container" style="margin-top:70px;">


<!-- STEP ONE -->
<!-- STEP ONE -->
<!-- STEP ONE -->
<!-- STEP ONE -->
<!-- STEP ONE -->


    <div class="row">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/1.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:15px;">
                گوشی ب گوشی را روی موبایل قدیم و جدید خود نصب کنید. مطمین شوید که هر دو گوشی به اینترنت متصل هستند. حالا روی هر دو گوشی برنامه را اجرا کنید.

            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/01_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/01_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>


<!-- END of STEP ONE -->
<!-- END of STEP ONE -->
<!-- END of STEP ONE -->
<!-- END of STEP ONE -->


<!-- STEP TWO -->
<!-- STEP TWO -->
<!-- STEP TWO -->
<!-- STEP TWO -->
<!-- STEP TWO -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/2.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">
                در گوشی جدید  روی دکمه
                                "دریافت اطلاعات"
                                 کلیک کنید.

            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/02_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/02_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>

<!-- END of STEP TWO -->
<!-- END of STEP TWO -->
<!-- END of STEP TWO -->
<!-- END of STEP TWO -->


<!-- STEP Three -->
<!-- STEP Three -->
<!-- STEP Three -->
<!-- STEP Three -->
<!-- STEP Three -->




    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/3.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">
                روی گوشی جدید نام کاربری و کلمه عبور را وارد کنید و  روی دکمه "ورود به نرم افزار" کلیک کنید. اگر نام کاربری و کلمه عبور ندارید باید اول ثبت نام کنید.

            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/03_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/03_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>




<!-- END of STEP Three -->
<!-- END of STEP Three -->
<!-- END of STEP Three -->
<!-- END of STEP Three -->




<!-- STEP Four -->
<!-- STEP Four -->
<!-- STEP Four -->
<!-- STEP Four -->
<!-- STEP Four -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/4.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">
حالا روی گوشی قدیمی، دکمه "ارسال اطلاعات" را بزنید.
            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/04_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/05_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Four  -->
<!-- END of Four  -->
<!-- END of Four  -->
<!-- END of Four  -->





<!-- STEP Five -->
<!-- STEP Five -->
<!-- STEP Five -->
<!-- STEP Five -->
<!-- STEP Five -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/5.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">


                روی گوشی قدیمی اسم گوشی جدید را انتخاب نمایید و سپس روی دکمه "تایید" کلیک کنید. منتظر باشید تا گوشی قدیم به گوشی جدید متصل شود.


            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/05_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/send_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Five  -->
<!-- END of Five  -->
<!-- END of Five  -->
<!-- END of Five  -->



<!-- STEP Six -->
<!-- STEP Six -->
<!-- STEP Six -->
<!-- STEP Six -->
<!-- STEP Six -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/6.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">


                روی گوشی قدیم اطلاعاتی را که می خواهید منتقل شود انتخاب کنید و سپس روی دکمه "ارسال اطلاعات" کلیک کنید.

            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/06_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/select_content_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Six  -->
<!-- END of Six  -->
<!-- END of Six  -->
<!-- END of Six  -->





<!-- STEP Seven -->
<!-- STEP Seven -->
<!-- STEP Seven -->
<!-- STEP Seven -->
<!-- STEP Seven -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/7.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">


                انتقال اطلاعات شروع می شود. لطفا تا انتهای انتقال صبر نمایید.
            </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/07_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/old_phone_sending.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Seven  -->
<!-- END of Seven  -->
<!-- END of Seven  -->
<!-- END of Seven  -->






<!-- STEP Eight -->
<!-- STEP Eight -->
<!-- STEP Eight -->
<!-- STEP Eight -->
<!-- STEP Eight -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/8.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">
پس از مدتی انتقال اطلاعات پایان می یابد. اکنون گوشی جدید شما همه اطلاعات گوشی قدیمی را دارد. روی دکمه "صفحه اول" کلیک کنید تا به خانه برگردید.             </p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/08_new_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:#73AD21;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی قدیم
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/08_old_phone.png"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Eight  -->
<!-- END of Eight  -->
<!-- END of Eight  -->
<!-- END of Eight  -->






<!-- STEP Nine -->
<!-- STEP Nine -->
<!-- STEP Nine -->
<!-- STEP Nine -->
<!-- STEP Nine -->



    <div class="row" style="margin-top:10px">

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-2 col-sm-push-8" >
            <img src="{% static "bitasync_site/img/9.png" %}" class="img-responsive" style="width:90px;display:block;margin-left:auto;margin-right:auto">
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-0 col-sm-pull-1" >

            <p style="direction:rtl;text-align:center;font-family:IRANSans; font-weight:500;font-size:140%;padding-top:25px;">
در گوشی جدید روی دکمه "لیست برنامه ها" کلیک کنید و برنامه هایی را که دوست دارید نصب کنید. این برنامه ها از گوشی قدیم شما به گوشی جدید منتقل شده اند.
</p>
        </div>

        <div class="col-sm-1" >

        </div>

        <div class="col-sm-1" >

        </div>


    </div>


    <div class="row" style="padding-top:20px; padding-bottom:70px;border-bottom-style: solid;border-bottom-width: 1px;">

        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;"  >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:red;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/program_list_button.jpeg"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>

        <div class="col-xs-12 col-sm-5 col-md-4" style="padding-top:30px;" >

            <div class="row" >

                <div class="col-xs-6 col-xs-offset-3" style="font-weight:500;color:white; background-color:red;height:30px;line-height:30px;border-radius:10px;">
                    <p style="direction:rtl;text-align:center;">
                        گوشی جدید
                    </p>
                </div>

                <div class="col-xs-12" style="margin-top:5px;">
                    <img src="{% static "bitasync_site/img/android_help/program_list.jpeg"%}" class="img-responsive" style="width:250px;display:block;margin-left:auto;margin-right:auto">
                </div>

            </div>

        </div>



        <div class="col-xs-0 col-sm-1 col-md-2">
        </div>


    </div>





<!-- END of Nine  -->
<!-- END of Nine  -->
<!-- END of Nine  -->
<!-- END of Nine  -->






</div>


{% endblock %}
