{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<title>گوشی ب گوشی</title>

		<link rel="stylesheet" href="{% static "bitasync_site/css/mystyle.css" %}">

	</head>

	<body>


		<nav class="navbar navbar-default" style="background-color: #3a536b; padding-top:13px; padding-bottom:13px;border-bottom-color:#c5f390; border-bottom-width: 3px;">

		  <div class="container">

			 <a class="navbar-brand navbar-right"  style="margin-right:30px;" href="#">
				 <b id="navbar_logo" style="padding-right:10px;" >گوشی ب گوشی</b>
				 <img src="/static/bitasync_site/img/navbar_gbg_logo.png" style="width:30px; display: inline-block;">
			 </a>

		    <div class="navbar-header" >
				<button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
		    </div>



			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right" style="padding-right:10px;direction:rtl">
	      			<li><a href="#" >راهنمای برنامه موبایل</a></li>
					<li><a href="#"  >خانه</a></li>
	    		</ul>
			</div>


		  </div>

		</nav>




		<div class="container" style="padding-bottom:30px" >


			<div class="row" >

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter" >
					<img src="{% static "bitasync_site/img/main_image.png" %}" class="img-responsive" width="800px" height="800px" alt="">
				</div>

				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter">

					<div class="row well" style="text-align: center;background-color:#E2E2E2">
						<p style="font-family:IRANSans; font-weight:500;font-size:140%;direction:rtl;">
وقتی موبایل جدید می خری، با ”گوشی&nbspب&nbspگوشی" می&nbspتونی شماره&nbspتلفن، عکس، آهنگ، ویدیو و همه&nbspاطلاعات موبایل قدیمی رو سریع، آسون و امن به موبایل جدیدت منتقل کنی.						</p>
					</div>

					<div class="row" style="padding-top:20px;">

						<div class="col-xs-12 col-sm-6 ">

							<a href="{% static "bitasync_site/gooshibegooshi.apk" %}" >

    							<div  class="row" style="padding:7px" style="height:100px;background-color:#546e7a;">

									<div id="download_link_android" class="col-xs-12 col-md-12"  style="background:url({%static "bitasync_site/img/button_android.png"%}) no-repeat center center; background-size:contain; height:80px; border-radius: 10px;">

									</div>

											<!--
											<div class="row" style="height:80px">

												<div class="col-xs-3 col-sm-5 col-sm-offset-1 vcenter"> <p style="text-align:right;font-weight:500;font-size:140%;padding-top:5px">اندروید</p> </div>
	    										<div class="col-xs-6 col-sm-5 vcenter" >
	    											<img src="{% static "bitasync_site/img/button_android.png" %}" style="width:80px;height:80px;padding:5px;padding-right:7px">
	    										</div>

											</div>
										-->

    							</div>
						    </a>

						</div>

						<div class="col-xs-12 col-sm-6" style="">

							<a href="http://svn.bitasync.com/_Client/Client_Setup/GooshiBeGooshi_install.exe" >
    							<div  class="row" style="padding:7px" style="height:100px">

    									<div id="download_link_windows" class="col-xs-12 col-md-12"  style="background:url({%static "bitasync_site/img/button_windows.png"%}) no-repeat center center; background-size:contain; height:80px;border-radius: 10px;">

										</div>

    							</div>
						    </a>

						</div>


					</div>


				</div>



			</div>


		</div>

		<div class="container-fluid">

			<div class="row" style="background-color:#6d717a;padding:30px;" >

				<div class="col-sm-0 col-md-1"></div>


				<div class="col-sm-12 col-md-5 col-md-push-5" style="text-align:center">
					<p style="direction:rtl;font-weight:400;font-size:170%;color:white">
												برای فعال سازی گوشی&nbsp;ب&nbsp;گوشی از این کد استفاده نمایید.
					<p>
				</div>

				<div class="col-sm-12 col-md-5 col-md-5 col-md-pull-5" style="" >
					<img src="{% static "bitasync_site/img/username_pass.png" %}" style="height:100px;display:block;margin-left:auto;margin-right:auto;">
				</div>


				<div class="col-sm-0 col-md-1"></div>

			</div>

		</div>



		<div class="container-fluid" style="background-color:white; padding-top:50px;padding-bottom:50px">

			<div class="row">



				 <div class="col-sm-2 col-sm-offset-2">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/security monogram.png" %}" alt="" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" class="img_responsive">
					 	</div>
					 </div>

					 <div class="row">
						 <div class="col-xs-12" style="padding-top:15px" >
							 <h4 style="text-align:center;">
								 اطلاعات خصوصی
							 </h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 لازم نیست گوشی رو در اختیار کسی بدی تا اطلاعاتت رو جابه جا کنه. خودت به راحتی اطلاعاتت رو منتقل کن!
							  </p>
						</div>
					 </div>

 				 </div>

				 <div class="col-sm-2 col-sm-offset-1">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/value_monograph.png" %}" class="img_responsive" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" >
						</div>
					 </div>

					 <div class="row">
						 <div class="col-sm-12" style="padding-top:15px">
							 <h4 style="text-align:center;">ارزون</h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 لازم نیست برای انتقال اطلاعات کلی پول بدی. گوشی ب گوشی یه راه ارزونه!
							  </p>
						</div>
					 </div>

 				 </div>

				 <div class="col-sm-2 col-sm-offset-1">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/comfort_monogram.png" %}" alt="" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" class="img_responsive">
						</div>
					 </div>

					 <div class="row">
						 <div class="col-sm-12" style="padding-top:15px">
							 <h4 style="text-align:center;">آسون</h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 همه اطلاعاتت رو فقط با دو سه تا کلیک انتقال بده!
							  </p>
						</div>
					 </div>

 				 </div>



 			</div>

        </div>


        <div class="container-fluid" style="padding-top:60px;background-color:#6d717a;padding-bottom:50px">


			<div class="row" style="padding-bottom:30px">

				<div class="col-xs-3">
				</div>


				<div class="col-xs-6">
					<a href="http://afranet.com/">
						<img src="{% static "bitasync_site/img/afranet.png" %}" class="img-responsive" alt="" style="display:block;margin-left:auto;margin-right:auto;width:250px">
					</a>

				</div>

			</div>

			<div class="row" style="padding-bottom:50px">

				<div class="col-sm-12">

					<p style="text-align:center;direction:rtl;color:white; font-weight:500;font-size:120%">
						برنامه پیشاهنگ توسط
						<span style="font-weight:600;font-size:150%;color:#e7aa3f">
						 سرور های قدرتمند افرانت
						</span>
							  پشتیبانی میشه. ما افرانت رو به شما توصیه می کنیم.
					</p>
				</div>
			</div>


			<div class="row" style="direction:rtl;">

				<div class="col-lg-2"></div>

				<div class="col-lg-2 col-lg-push-6" style="padding-bottom:30px" >

					<div class="row">
							<div class="col-xs-12 " style="background-color:#e7aa3f;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-ok"></span>&nbsp;
							   انتقال آسان اطلاعات
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;">

								<div class="col-sm-12" style="direction:ltr;text-align:center;">
									<p style="font-weight:500;font-size:110%;direction:rtl;">
									   وقتی دوستت موبایل جدید خرید،‌گوشی ب گوشی رو بهش معرفی کن، شاید به دردش بخوره!
									</p>
								</div>
							</div>
					</div>


					<div class="row" style="padding-top:20px;" >
						<div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/gbg_typography_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
						</div>
					</div>


				</div>

				<div class="col-lg-1"></div>

				<div class="col-lg-2" style="padding-bottom:30px;">

					<div class="row">
							<div class="col-xs-12 " style="background-color:#bf5392;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-user"></span>&nbsp;
							   تماس با ما
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;text-align:center">

								<p style="font-weight:500;font-size:120%;" >
									<span class="glyphicon glyphicon-phone-alt" style="font-size:140%;vertical-align:middle"></span>
								</p>

								<p style="font-weight:500;font-size:120%;" >
									۰۲۱-۸۸۸۶۷۶۴۶
								</p>

							</div>
					</div>


					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;">

								<p style="font-weight:500;font-size:120%;text-align:center;direction:ltr" >
									<span class="glyphicon glyphicon-envelope" style="font-size:140%;vertical-align:middle"></span>
								</p>

								<p style="font-weight:500;font-size:120%;text-align:center;direction:ltr" >
									hi@gooshibegooshi.com
								</p>

							</div>
					</div>


				</div>

				<div class="col-lg-1"></div>


				<div class="col-lg-2 col-lg-pull-6" style="padding-bottom:30px;">

                    <div class="row" >
                            <div class="col-xs-12" style="background-color:#0586be;color:white;border-radius:4px;">

                                <p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
                                        <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
                                        دوست های ما
                                </p>
                            </div>
                    </div>


					<div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/mci_logo_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                        </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                            <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/kaspersky_logo.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                            </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/magia_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px ">
                        </div>
                    </div>



				 </div>



		</div>

	</body>


</html>
