{% extends 'bitasync_site/base_responsive.html' %}
{% load staticfiles %}


{% block content %}













		<div id="top" class="container" style="padding-bottom:30px;margin-top:60px;" >


			<div class="row" >

				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter" >
					<img src="{% static "bitasync_site/img/main_image.png" %}" class="img-responsive" width="800px" height="800px" alt="">
				</div>

				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter">

					<div class="row well" style="text-align: center;background-color:#E2E2E2">
						<p style="font-family:IRANSans; font-weight:500;font-size:140%;direction:rtl;">
وقتی موبایل جدید می خری، با ”گوشی&nbspب&nbspگوشی" می&nbspتونی شماره&nbspتلفن، عکس، آهنگ، ویدیو و همه&nbspاطلاعات موبایل قدیمی رو سریع، آسون و امن به موبایل جدیدت منتقل کنی.						</p>
					</div>

					<div class="row" style="padding-top:20px;">

						<div class="col-xs-12 col-sm-6 ">

							<a href="{% static "bitasync_site/gooshibegooshi.apk" %}" >

    							<div  class="row" style="padding:7px" style="height:100px;background-color:#546e7a;">

									<div id="download_link_android" class="col-xs-12 col-md-12"  style="background:url({%static "bitasync_site/img/button_android.png"%}) no-repeat center center; background-size:contain; height:80px; border-radius: 10px;">

									</div>

											<!--
											<div class="row" style="height:80px">

												<div class="col-xs-3 col-sm-5 col-sm-offset-1 vcenter"> <p style="text-align:right;font-weight:500;font-size:140%;padding-top:5px">اندروید</p> </div>
	    										<div class="col-xs-6 col-sm-5 vcenter" >
	    											<img src="{% static "bitasync_site/img/button_android.png" %}" style="width:80px;height:80px;padding:5px;padding-right:7px">
	    										</div>

											</div>
										-->

    							</div>
						    </a>

						</div>

						<div class="col-xs-12 col-sm-6" style="">

							<a href="http://svn.bitasync.com/_Client/Client_Setup/GooshiBeGooshi_install.exe" >
    							<div  class="row" style="padding:7px" style="height:100px">

    									<div id="download_link_windows" class="col-xs-12 col-md-12"  style="background:url({%static "bitasync_site/img/button_windows.png"%}) no-repeat center center; background-size:contain; height:80px;border-radius: 10px;">

										</div>

    							</div>
						    </a>

						</div>


					</div>


				</div>



			</div>


		</div>

		<div class="container-fluid">

			<div class="row" style="background-color:#6d717a;padding:30px;" >

				<div class="col-sm-0 col-md-1"></div>


				<div class="col-sm-12 col-md-5 col-md-push-5" style="text-align:center">
					<p style="direction:rtl;font-weight:400;font-size:170%;color:white">
												برای فعال سازی گوشی&nbsp;ب&nbsp;گوشی از این کد استفاده نمایید.
					<p>
				</div>

				<div class="col-sm-12 col-md-5 col-md-5 col-md-pull-5" style="" >
					<img src="{% static "bitasync_site/img/username_pass.png" %}" style="height:100px;display:block;margin-left:auto;margin-right:auto;">
				</div>


				<div class="col-sm-0 col-md-1"></div>

			</div>

		</div>



		<div class="container-fluid" style="background-color:white; padding-top:50px;padding-bottom:50px">

			<div class="row">



				 <div class="col-sm-2 col-sm-offset-2">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/security monogram.png" %}" alt="" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" class="img_responsive">
					 	</div>
					 </div>

					 <div class="row">
						 <div class="col-xs-12" style="padding-top:15px" >
							 <h4 style="text-align:center;">
								 اطلاعات خصوصی
							 </h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 لازم نیست گوشی رو در اختیار کسی بدی تا اطلاعاتت رو جابه جا کنه. خودت به راحتی اطلاعاتت رو منتقل کن!
							  </p>
						</div>
					 </div>

 				 </div>

				 <div class="col-sm-2 col-sm-offset-1">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/value_monograph.png" %}" class="img_responsive" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" >
						</div>
					 </div>

					 <div class="row">
						 <div class="col-sm-12" style="padding-top:15px">
							 <h4 style="text-align:center;">ارزون</h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 لازم نیست برای انتقال اطلاعات کلی پول بدی. گوشی ب گوشی یه راه ارزونه!
							  </p>
						</div>
					 </div>

 				 </div>

				 <div class="col-sm-2 col-sm-offset-1">

					 <div class="row">
						 <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0" style="padding-top:30px;">
						 	<img src="{% static "bitasync_site/img/comfort_monogram.png" %}" alt="" style="height:110%; width:110%;display:block;margin-left:auto;margin-right:auto" class="img_responsive">
						</div>
					 </div>

					 <div class="row">
						 <div class="col-sm-12" style="padding-top:15px">
							 <h4 style="text-align:center;">آسون</h4>
							 <p style="text-align:center;direction:rtl;font-weight:400">
								 همه اطلاعاتت رو فقط با دو سه تا کلیک انتقال بده!
							  </p>
						</div>
					 </div>

 				 </div>


 			</div>

        </div>


        <div class="container-fluid" style="padding-top:60px;background-color:#6d717a;padding-bottom:50px">

			<div class="row" style="padding-bottom:30px">

			    <div class="col-xs-3">
			    </div>


			    <div class="col-xs-6">
			        <a href="http://afranet.com/">
			            <img src="{% static "bitasync_site/img/afranet.png" %}" class="img-responsive" alt="" style="display:block;margin-left:auto;margin-right:auto;width:250px">
			        </a>

			    </div>

			</div>

			<div class="row" style="padding-bottom:20px">

			    <div class="col-sm-12">

			        <p style="text-align:center;direction:rtl;color:white; font-weight:500;font-size:120%">
			            برنامه پیشاهنگ توسط
			            <span style="font-weight:600;font-size:150%;color:#e7aa3f">
			             سرور های قدرتمند افرانت
			            </span>
			                  پشتیبانی میشه. ما افرانت رو به شما توصیه می کنیم.
			        </p>
			    </div>
			</div>


		</div>





















{% endblock %}
