{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

	{% block metadescription %}
		"انتقال آسان اطلاعات بین تلفن های همرٍاه از گوشی قدیمیتان به گوشی جدید حتی با سیستم عامل های متفاوت"
	{% endblock metadescription %}
	

	{% block title %}گوشی ب گوشی{% endblock title %} 
{#	{% block title %}OUUZQQW{% endblock title %}  #}

	{% block extrajs %}
	
		<script type="text/javascript" src="{% static "bitasync_site/js/index.js" %}" > </script>
	
	{% endblock extrajs %}
   
		
		
 
  	{% block header %} 
             {% if not request.user.is_authenticated %}
           		  
    			<header class="header" id="header" ><!--header-start-->
				<div class="container" id="hero" >
					<figure class="logo animated fadeInDown delay-07s">
						<a href="#"><img src="{% static "bitasync_site/img/logo.png" %}" alt=""></a>	
					</figure>	
					<h1 class="animated fadeInDown delay-07s">				
وقتی یه موبایل جدید می خرید، با نرم افزار "گوشی ب گوشی" می تونی شماره تلفن ها، عکس ها، آهنگ ها و همه ی اطلاعات گوشی قدیمی ات رو سریع و آسون به گوشی جدیدت منتقل کنی.
					</h1>
					<!--<ul class="we-create animated fadeInUp delay-1s">
						<li></li>
					</ul>-->
						<a  style="z-index:auto;" class="linkscroll link animated fadeInUp delay-1s" href="#Portfolio">دریافت نرم افزار</a>
				</div>
			 {% endif %}
			  
			  	<nav class="main-nav-outer" id="test"><!--main-nav-start-->
					<div class="container">
						<ul class="main-nav">
						
							<li class="small-logo"><a href="#header"><img src="{% static "bitasync_site/img/small-logo.png" %}" alt=""></a></li> 
							<li><a id="goport" href="#Portfolio">دریافت نرم افزار</a></li>
							
{#							<li><a href="/guides/using_gbg/">راهنمای نرم افزار</a></li>  #}
                            <li><a href="/bitasync/terms_conditions/">شرایط و مقررات</a></li>
            
            
							{% if not request.user.is_authenticated %}
							<li><a href="/accounts/register">ایجاد حساب کاربری</a></li>	
							{% endif %}

							{% if request.user.is_authenticated %}
							<li><a href="/accounts/myprofile">ناحیه کاربری </a></li>	

							{% endif %}

							<li><a href="#contact">تماس با ما</a></li>
							<li><a href="/about_us/">درباره ما</a></li>

							{% if not request.user.is_authenticated %}
							<li id="loglink" style="float: left; background-color: gold; border-radius: 15px; height: 50px; margin-top: 20px;"> <a href="/accounts/login"><span class="icont" style="position: relative; top: -19px;">  ورود </span>&nbsp<span  style="position: relative; top: -9px;" class="fa fa-sign-in fa-2x iconf"></span></a> </li>
							{% endif %}

							{% if request.user.is_authenticated %}
							<li style="float: left; background-color: gold; border-radius: 15px; height: 50px; margin-top: 20px;"> <a href="/accounts/logout"><span class="icont" style="position: relative; top: -19px;">  خروج </span>&nbsp<span  style="position: relative; top: -9px;" class="fa fa-sign-out fa-2x iconf"></span></a> </li>

							
							{% endif %}
							
						</ul>
						<a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
					</div>
				</nav>
    
			 
			 {% if not request.user.is_authenticated %}
					</header> 
			 {% endif %}

		
                     

	{% endblock header %}

	{% block section %} 

		<section class="main-section" id="service"  style="background-color: white;" >
			<div class="container">
    	
				<div class="intro row">
					<div class="container">
						<div class="row text-center">
							<h2>
							مراحل استفاده از نرم افزار "گوشی ب گوشی"
							</h2>



							<div class="col-sm-3 col-xs-6 pull-right">
								<span class="icon-howit01"></span>
								<h3>
								دریافت نرم افزار
								</h3>
								<p>
						"گوشی ب گوشی" رو از سایت دریافت و روی کامپیوتر نصب و اجرا کنید. حالا موبایل جدید و قدیم خود را به کامپیوتر متصل کنید.
								</p>
							</div>

							<div class="col-sm-3 col-xs-6 pull-right">
								<span class="icon-howit02"></span>
								<h3> انتخاب محتوا برای انتقال</h3>

								<p>
		شما می توانید شماره تلفن ها،پیامک ها، اطلاعات تماس، عکس ها، ویدیوها، برنامه ها، آهنگ ها، عکس های پس زمینه و ... را برای انتقال انتخاب کنید.
								</p>
							</div>

							<div class="col-sm-3 col-xs-6 pull-right">
								<span class="icon-howit03"></span>
								<h3>انتقال توسط نرم افزار</h3>
								<p>
روی دکمه ی انتقال کلیک کنید و برای انتقال کمی صبر کنید.
								</p>
							</div>

							<div class="col-sm-3 col-xs-6 pull-right">
								<span class="icon-howit04"></span>
								<h3>به همین سادگی</h3>
								<p>موبایل جدید اطلاعات شما را دارد</p>
							</div>








						</div>
						<!-- br -->
	</div> 
				</div>

			</div>
		</section>
		
		
		<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
	<div class="container">
    	<h2>
 فعال سازی نرم افزار "گوشی ب گوشی"
</h2>
    	<h6></h6>
      <div class="portfolioFilter">  
        <ul class="Portfolio-nav wow fadeIn delay-02s">
        	<li><a href="#" data-filter="*" class="current" >همه</a></li>
            <li><a href="#" data-filter=".branding" >محدودیت زمانی</a></li>
            <li><a href="#" data-filter=".webdesign" >محدودیت تعداد استفاده</a></li>
            <!--<li><a href="#" data-filter=".printdesign" >Print design</a></li>
            <li><a href="#" data-filter=".photography" >Photography</a></li>-->
        </ul>
       </div> 
        
	</div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
            	
                
			<div class=" Portfolio-box branding">
                	<a href="/bitasync/activate/L1/"><img src="{% static "bitasync_site/img/L1.jpg" %}" alt=""></a>	
                	<h3>با این بسته می توانید 
						<strong>
						یکبار
						</strong>
						انتقال اطلاعات انجام دهید
						</h3>
                    <div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/L1/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">2,000</span>&nbsp <span>   تومان</span></div> 
					</div>
                </div>
		
				<div class="Portfolio-box branding">
                	<a href="/bitasync/activate/L2/"><img src="{% static "bitasync_site/img/L2.jpg" %}" alt=""></a>	
                	<h3>با این بسته می توانید 
						<strong>
						دو بار
						</strong>
                        	انتقال اطلاعات انجام دهید
						</h3>
                  <div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/L2/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">3,000</span>&nbsp <span>   تومان</span></div> 
					</div>
                </div>
                
                
			
		
		
		<div class=" Portfolio-box branding">
                	<a href="/bitasync/activate/L5/"><img src="{% static "bitasync_site/img/L5.jpg" %}" alt=""></a>	
                	<h3>با این بسته می توانید 
						<strong>
						پنج بار
						</strong>
	انتقال اطلاعات انجام دهید
						</h3>
                 <div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/L5/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">5,000</span>&nbsp <span>   تومان</span></div> 
					</div>
                </div>
		
		
		
			
		<div class=" Portfolio-box webdesign" >
                	<a href="/bitasync/activate/U1/"><img src="{% static "bitasync_site/img/U1.jpg" %}" alt=""></a>	
                		<h3>با این بسته می توانید به مدت  
						<strong>
						 یک ماه به صورت نامحدود
						</strong>
	انتقال اطلاعات انجام دهید
					      </h3>
              
					<div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/U1/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">80,000</span>&nbsp <span>   تومان</span></div> 
					</div>
              
		   </div>
	
                <div class=" Portfolio-box webdesign">
                	<a href="/bitasync/activate/U3/"><img src="{% static "bitasync_site/img/U3.jpg" %}" alt=""></a>	
                		<h3>با این بسته می توانید به مدت  
						<strong>
						  سه ماه به صورت نامحدود
						</strong>
	انتقال اطلاعات انجام دهید
					      </h3>
                     <div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/U3/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">200,000</span>&nbsp <span>   تومان</span></div> 
					</div>
  
                </div>
		 <div class=" Portfolio-box webdesign">
                	<a href="/bitasync/activate/U6/"><img src="{% static "bitasync_site/img/U6.jpg" %}" alt=""></a>	
                		<h3>با این بسته می توانید به مدت  
						<strong>
						 شش ماه به صورت نامحدود
						</strong>
	انتقال اطلاعات انجام دهید
					      </h3>
                      <div style="padding-top: 15px;">
						 <div onclick="window.location.href='/bitasync/activate/U6/'"  class="btn-order label label-success label-order">سفارش بسته</div>
						<div class="label label-default label-order" style="direction:rtl" > <span class="pricelist">400,000</span>&nbsp <span>   تومان</span></div> 
					</div>
  
                </div>
		
		
			
               
    </div>
</section><!--main-section-end-->
		<section class="main-section client-part" id="client"><!--main-section client-part-start-->
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">استفاده از "گوشی ب گوشی" فوق العاده ساده و راحت بود. فکرشم نمی کردم که بتونم با چند کلیک همه ی  ۱۵۰۰ تا شماره تلفن، کلی پیامک و برنامه و بیشتر از ۱۰۰۰ تا عکس و آهنگ و فیلم رو از گوشی قبلی به جدید منتقل کنم</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="#">
            	<img src="{% static "bitasync_site/img/client-pic1.jpg" %}" alt="">
                <h3>هادی</h3>
                <span></span>
            </a></li>
        </ul>
    </div>
</section><!--main-section client-part-end-->
		<section class="main-section team" id="team"><!--main-section team-start-->
		<div class="container">
        <h2></h2>
        <h6></h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{% static "bitasync_site/img/n1.jpg" %}" alt="">
                  <!-- <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>-->
                </div>
                <h3 class="wow fadeInDown delay-03s">آسان</h3>
                <span class="wow fadeInDown delay-03s"></span>
                <p class="wow fadeInDown delay-03s">فقط با ۳ کلیک اطلاعات انتخابی خود را منتقل کنید</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{% static "bitasync_site/img/n2.jpg" %}" alt="">
                   <!-- <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>-->
                </div>
                <h3 class="wow fadeInDown delay-06s">امنیت</h3>
                <span class="wow fadeInDown delay-06s"></span>
                <p class="wow fadeInDown delay-06s">حفاظت از حریم شخصی شما</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="{% static "bitasync_site/img/n3.jpg" %}" alt="">
                   <!-- <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>-->
                </div>
                <h3 class="wow fadeInDown delay-09s">پشتیبانی</h3>
                <span class="wow fadeInDown delay-09s"></span>
                <p class="wow fadeInDown delay-09s">پشتیبانی در تمام ساعات شبانه روز</p>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->
			<div class="container">
		<section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<!--<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>ادرس:</h3>
                	<span>تهران، میدان فردوسی،خیابان موسوی (فرصت) </span>
                </div>-->
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i> تلفن:</h3>
                	<span>021-88867646</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i> ایمیل:</h3>
                	<span>hello@gooshibegooshi.com</span>
                </div>
            	
				
				
				<!--<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Hours:</h3>
                	<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
                <ul class="social-link">
                	<li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                </ul>
				-->
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	<form action="" method="post">
						{% csrf_token %}
						{{ form.field_errors }}	
						
					<input id= "{{ form.name.id_for_label }}" class="input-text" type="text" name="{{ form.name.html_name }}" value="نام *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                    <input id="{{ form.email.id_for_label }}" class="input-text" type="text" name="{{ form.email.html_name }}" value="ایمیل *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                   	<textarea id="{{ form.message.id_for_label }}"  name="{{ form.message.html_name }}" class="input-text text-area" cols="0" rows="0" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">پیام *</textarea>
                    
					<label for="{{ form.call_back.id_for_label }}">
با انتخاب این گزینه ما با شما تماس خواهیم گرفت.
</label> <input id="{{ form.call_back.id_for_label }}" name="{{ form.call_back.html_name }}" class="" type="checkbox" 	/>
                    <input id="{{ form.phone_number.id_for_label }}" class="input-text" type="text" name="{{ form.phone_number.html_name }}" value="شماره تماس *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                
					
					<input class="input-btn" type="submit" value="ارسال پیام">
						{{ form.non_field_errors }}
				</form>

                </div>	
            </div>
        </div>
</section>
		</div>

	{% endblock section %}		

