{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> فعال سازی  {% endblock title %}


	

	{% block extracss %} 
		  <link rel="stylesheet" href="{% static "user_profile/css/activate.css" %}">
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				
				 <div class="row">
					 <div class="col-md-6 .col-xs-6 pull-right">
					 
					 <h3>طرح انتخاب شده</h3>
					<hr>
							
						<span> </span> <span> {{ selected_plan.plan_name  }} </span>
						 <br/>
							<img src="{{ selected_plan.image_link }}"  alt= "{{ selected_plan.plan_name }}" > <br>
						 <span> توضیحات:</span> <span> {{selected_plan.long_description}} </span><br>

							{% if coupon_available %}
								قیمت = <del> {{selected_plan.original_price }} </del> <span> تومان</span> <br>
								قیمت با احتساب تخفیف: {{selected_plan.discounted_price}} <span> تومان</span>
							{% else %}
								قیمت = {{selected_plan.original_price }} <span> تومان</span>
							{% endif %}
							<br>
							
							<a href="/payment/{{selected_plan.plan_name}}/"><button type="button">پرداخت الکترونیکی</button></a>
						<br><br>
					 </div>
					 <div class="col-md-6 .col-xs-6 pull-right">
					 
					 	{% if not coupon_available %}
						{% else %}
						<h3>کارت های هدیه ی شما	</h3>
						 <hr>
						<table class="table">
							 <tr>
								<th>کارت هدیه</th>
								<th>نرخ تخفیف</th>	
								 <th>تاریخ انقضا</th>
							
							 </tr>  
							{% for coupon in existing_coupons %}
								<tr>
									<td> {{ forloop.counter }} </td>
									<td>{{coupon.discount_rate}}</td>
									<td>{{coupon.expiry_date}}</td>
									
								</tr>  
							{% endfor %}
					    </table>
						{% endif %}
						


							<form action='' method='post'>

								{% csrf_token %}
								{% if coupon_code_entered and wrong_coupon_entered %}
									<input type="text" placeholder="کد وارد شده اشتباه است. لطفا دوباره امتحان کنید" name="hashcode" id="id_hashcode">
								{% endif %}  


								{% if coupon_code_entered and not wrong_coupon_entered %}
									<input type="text" placeholder="کد وارد شده ثبت شد" name="hashcode" id="id_hashcode">
								{% endif %}    



								{% if not coupon_code_entered %}
									<input type="text" placeholder="کد هدیه ی خود را وارد کنید" name="hashcode" id="id_hashcode">    
								{% endif %}    

									<input type="submit" value="اضافه کردن کارت هدیه">


							</form>

					 
					 
					 
					 
					 
					 
					 
					 </div>
						
				</div>
				 	<br><br><hr>
				<div class="row">
					<div class="col-md-4 pull-right">
					
				

							

						<span>عنوان: </span> <span> {{ alt_plan_0.plan_name  }} </span> <br/>
							<img src="{{ alt_plan_0.image_link }}" alt= "{{ alt_plan_0.plan_name }}" > <br/>

						<span>توضیحات: </span> <span> {{ alt_plan_0.description }} </span><br/>

							{% if coupon_available %}
							<span>قیمت: </span>  <span><del>{{alt_plan_0.original_price }} </del></span> <br/>
							<span>قیمت با محاسبه تخفیف: </span> <span>{{alt_plan_0.discounted_price}}</span>
							{% else %}
								<span>قیمت: </span>  <span> {{alt_plan_0.original_price }}</span> <br/>
							{% endif %}

							<br/>
							<a href="/bitasync/activate/{{alt_plan_0.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
					
					</div>
                    
					<div class="col-md-4 pull-right">
					

							
							<span>عنوان: </span> <span>{{ alt_plan_1.plan_name  }}</span> <br/>
							<img src="{{ alt_plan_1.image_link }}" alt= "{{ alt_plan_1.plan_name }}"> <br/>
							<span>توضیحات: </span> <span> {{ alt_plan_1.description }} </span><br/>

							{% if coupon_available %}
								<span>قیمت: </span>  <span> <del>{{alt_plan_1.original_price }}</del></span><br/>
								<span>قیمت با محاسبه تخفیف: </span>  <span> {{alt_plan_1.discounted_price}}</span>

							{% else %}
                        <span>قیمت: </span>  <span> {{alt_plan_1.original_price }}</span> <br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_1.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
					
					</div>
                    
                    <div class="col-md-4 pull-right">
				

						

							<span>عنوان: </span> <span>{{ alt_plan_2.plan_name  }}</span> <br/>
							<img src="{{ alt_plan_2.image_link }}" alt= "{{ alt_plan_2.plan_name }}" > <br/>     
							<span>توضیحات: </span> <span>  {{ alt_plan_2.description }}  </span><br/>

							{% if coupon_available %}
								<span>قیمت: </span>  <span><del> {{alt_plan_2.original_price }} </del> </span>  <br>
								<span>قیمت با محاسبه تخفیف: </span> <span>{{alt_plan_2.discounted_price}}</span>  

							{% else %}
								<span>قیمت: </span>  <span> {{alt_plan_2.original_price }} </span><br>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_2.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>   
					
					</div>
                    
				  </div>
				<br><br>
				<div class="row">
					<div class="col-md-4 pull-right">
													

							<span>عنوان: </span> <span> {{ alt_plan_3.plan_name  }} </span><br/>
							<img src="{{ alt_plan_3.image_link }}" alt= "{{ alt_plan_3.plan_name }}" > <br/>

							<span>توضیحات: </span> <span>{{ alt_plan_0.description }}</span><br/>

							{% if coupon_available %}
						
								<span>قیمت: </span>  <span> <del> {{alt_plan_3.original_price }} </del></span>  <br/>
								<span>قیمت با محاسبه تخفیف: </span>  <span>{{alt_plan_3.discounted_price}}</span>
							{% else %}
									<span>قیمت: </span>  <span>  {{alt_plan_3.original_price }}</span> <br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_3.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
					</div>
					<div class="col-md-4 pull-right">
					
											

							<span>عنوان: </span> <span>{{ alt_plan_4.plan_name  }} </span><br/>
							<img src="{{ alt_plan_4.image_link }}" alt= "{{ alt_plan_4.plan_name }}" > <br/>
							<span>توضیحات: </span> <span> {{ alt_plan_0.description }}</span><br/>

							{% if coupon_available %}
								<span>قیمت: </span>  <span>  <del> {{alt_plan_4.original_price }}  </del></span><br/>
								<span>قیمت با محاسبه تخفیف: </span>  <span>{{alt_plan_4.discounted_price}}</span>
							{% else %}
								<span>قیمت: </span>  <span>{{alt_plan_4.original_price }} </span><br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_4.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
					
					</div>
					<div class="col-md-4 pull-right"></div>
				  </div>
				
				
				
				
				
					
			
			</div>
  
			
			<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Product title</h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			
			
		</section>

<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
	{% endblock section %}	














