{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> فعالسازی طرح انتخابی  {% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

			
				  <div class="row" style="text-align:center">
        				<img src={{image_link}}>

						<br><br>

						<div>
							<span> عنوان طرح:  </span> <span> {{plan.description}} </span>
						</div>

						<br>

						<div>
							<span> هزینه:  </span> <span> {{plan.price}}</span><span> تومان </span>
						</div>
						<br>



						<form action="/bitasync/activate/{{plan.plan_name}}/" method="post">   
							{% csrf_token  %}   
							<input type="submit" value="پرداخت الکترونیکی">    
						</form>

             
      				 </div>
			</div>
			
            
       
		</section>
	{% endblock section %}	



















