{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> فعال سازی  {% endblock title %}


	

	{% block extracss %} 
		  <link rel="stylesheet" href="{% static "user_profile/css/activate.css" %}">
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
		
			<div class="container">

				
				 <div class="row">
					
					
					 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div id="palanselected" class="offer offer-danger">
							<div class="shape">
								<div class="shape-text">
															
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>
						
									 <h3>طرح انتخاب شده</h3>
					<hr>
							
					
						 <br/>
							<img src="{{ selected_plan.image_link }}"  alt= "{{ selected_plan.plan_name }}" > <br>
						 <span> {{selected_plan.long_description}} </span><br>

							{% if coupon_available %}
								قیمت = <del> {{selected_plan.original_price }} </del> <span> تومان</span> <br>
								قیمت با احتساب تخفیف: {{selected_plan.discounted_price}} <span> تومان</span>
							{% else %}
								قیمت = {{selected_plan.original_price }} <span> تومان</span>
							{% endif %}
							<br>
							
							<a href="/payment/{{selected_plan.plan_name}}/"><button type="button">پرداخت الکترونیکی</button></a>
						<br>
							
							</div>
						</div>
					</div>
				
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 pull-right">
						<div id="giftcards" class="offer offer-success">
							<div class="shape">
								<div class="shape-text">
																		
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>						
								{% if not coupon_available %}
						{% else %}
						<h3>کارت های هدیه ی شما	</h3>
						 <hr>
						<table class="table">
							 <tr>
								<th>کارت هدیه</th>
								<th>نرخ تخفیف</th>	
								 <th>تاریخ انقضا</th>
							
							 </tr>  
							{% for coupon in existing_coupons %}
								<tr>
									<td> {{ forloop.counter }} </td>
									<td>{{coupon.discount_rate}}</td>
									<td>{{coupon.expiry_date}}</td>
									
								</tr>  
							{% endfor %}
					    </table>
						{% endif %}
						


							<form action='' method='post'>

								{% csrf_token %}
								{% if coupon_code_entered and wrong_coupon_entered %}
									<input type="text" placeholder="کد وارد شده اشتباه است. لطفا دوباره امتحان کنید" name="hashcode" id="id_hashcode">
								{% endif %}  


								{% if coupon_code_entered and not wrong_coupon_entered %}
									<input type="text" placeholder="کد وارد شده ثبت شد" name="hashcode" id="id_hashcode">
								{% endif %}    



								{% if not coupon_code_entered %}
									<input type="text" placeholder="کد هدیه ی خود را وارد کنید" name="hashcode" id="id_hashcode">    
								{% endif %}    

									<input type="submit" value="اضافه کردن کارت هدیه">


							</form>

					 
					 	
						
							</div>
						</div>
					</div>
					 
					 
					 
								
				</div>
				 	<br><br><hr>
			
				
				
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div class="offer offer-default">
							<div class="shape">
								<div class="shape-text">
															
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>
								<!-- <span> {{ alt_plan_0.plan_name  }} </span> <br/>-->
							<img src="{{ alt_plan_0.image_link }}" alt= "{{ alt_plan_0.plan_name }}" > <br/>

						 <div class="comdiv"> {{ alt_plan_0.description }} </div><br/>

							{% if coupon_available %}
							  <span><del>{{alt_plan_0.original_price }} </del></span> <br/>
							 <span>{{alt_plan_0.discounted_price}}</span>
							{% else %}
								  <span> {{alt_plan_0.original_price }}</span> <br/>
							{% endif %}

							<br/>
							<a href="/bitasync/activate/{{alt_plan_0.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
							</div>
						</div>
					</div>
				
					
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div class="offer offer-success">
							<div class="shape">
								<div class="shape-text">
																		
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>						
								
						<!-- </span> <span>{{ alt_plan_1.plan_name  }}</span> <br/>-->
							<img src="{{ alt_plan_1.image_link }}" alt= "{{ alt_plan_1.plan_name }}"> <br/>
							 <div class="comdiv">{{ alt_plan_1.description }} </div><br/>

							{% if coupon_available %}
							  <span> <del>{{alt_plan_1.original_price }}</del></span><span> تومان</span><br/>
								  <span> {{alt_plan_1.discounted_price}}</span><span> تومان</span>

							{% else %}
                        <span> {{alt_plan_1.original_price }}</span><span> تومان</span> <br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_1.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div class="offer offer-radius offer-primary">
							<div class="shape">
								<div class="shape-text">
									 						
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>						
								<!-- </span> <span>{{ alt_plan_2.plan_name  }}</span> <br/>-->
							<img src="{{ alt_plan_2.image_link }}" alt= "{{ alt_plan_2.plan_name }}" > <br/>     
							 <div class="comdiv">  {{ alt_plan_2.description }}  </div><br/>

							{% if coupon_available %}
								  <span><del> {{alt_plan_2.original_price }} </del> </span> <span> تومان</span> <br>
								<span>{{alt_plan_2.discounted_price}}</span> <span> تومان</span> 

							{% else %}
								  <span> {{alt_plan_2.original_price }} </span><span> تومان</span><br>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_2.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>   
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div class="offer offer-info">
							<div class="shape">
								<div class="shape-text">
									 					
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>						
								<!-- </span> <span> {{ alt_plan_3.plan_name  }} </span><br/>-->
							<img src="{{ alt_plan_3.image_link }}" alt= "{{ alt_plan_3.plan_name }}" > <br/>

						 <div class="comdiv">{{ alt_plan_0.description }}</div><br/>

							{% if coupon_available %}
						
								  <span> <del> {{alt_plan_3.original_price }} </del></span> <span> تومان</span> <br/>
								  <span>{{alt_plan_3.discounted_price}}</span><span> تومان</span>
							{% else %}
									<span>  {{alt_plan_3.original_price }}</span> <span> تومان</span><br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_3.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
						<div class="offer offer-warning">
							<div class="shape">
								<div class="shape-text">
															
								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">
									
								</h3>						
								<!--</span> <span>{{ alt_plan_4.plan_name  }} </span><br/>-->
							<img src="{{ alt_plan_4.image_link }}" alt= "{{ alt_plan_4.plan_name }}" > <br/>
							  <div class="comdiv"> {{ alt_plan_0.description }}</div><br/>

							{% if coupon_available %}
								 <span>  <del> {{alt_plan_4.original_price }}  </del></span><span> تومان</span><br/>
								  <span>{{alt_plan_4.discounted_price}}</span><span> تومان</span>
							{% else %}
								 <span>{{alt_plan_4.original_price }} </span><span> تومان</span><br/>
							{% endif %}
							<br/>
							<a href="/bitasync/activate/{{alt_plan_4.plan_name}}/"><button type="button">
							سفارش بسته 
							</button></a>
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				
				
					
			
			</div>
  
			
					
			<div class="container">
				
			</div>

			
			
		</section>


	{% endblock section %}	














