{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> قوانین{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

                <h3 style="text-align:center">
                    قوانین و مقررات استفاده از "گوشی ب گوشی"
                </h3>
                
                <br><br>
        
                <ol>
                
                    <li>                   
نرم افزار "گوشی ب گوشی" توسط "استارت آپ بیتاپرداز" و با استفاده از نیروی متخصص داخلی و صرف هزینه و زمان زیادی تولید شده و یک تیم جوان و پرانرژی همواره آن را پشتیبانی می کنند. خواهشمند است از تولید نسخه های کپی و غیر قانونی خودداری کرده و ما را در ارایه ی یک سرویس با کیفیت به هموطنان عزیزمان یاری نمایید.
				    </li>
				
				
                    <li>  
نرم افزار "گوشی ب گوشی" اطلاعات موبایل قدیمی را به صورت افلاین (و نه انلاین) به موبایل جدیدا منتقل می کند. بدین معنا که اطلاعات شما از کامپیوتر خارج نمی شود و اطلاعات موبایل از طریق اینترنت منتقل نمی شود. ما متعهد هستیم از حریم شخصی شما حمایت کنیم.    
				    </li>
				    
				    <li>
برای استفاده از "گوشی ب گوشی" باید اطلاعات حساب کاربری (گذرواژه و رمز عبور) را وارد کنید. اطلاعات حساب کاربری به سرور "گوشی ب گوشی" ارسال می شود تا دسترسی کاربران به نرم افزار مدیریت شود. 				   
				    </li>
				    
				    <li>
برای استفاده از "گوشی ب گوشی" باید به اینترنت متصل باشید. روی لینک اینترنت شما فقط اطلاعات حساب کاربری (نام کاربری  و رمز عبور) منتقل می شود و هیچ یک از اطلاعات شخصی که روی موبایل دارید روی لینک اینترنت قرار نمی گیرد. 
				    </li>
				    
				    <li>
اگر پس از استفاده از "گوشی ب گوشی" از سرویس دریافت شده رضایت نداشته باشید می توانید تا ظرف یک هفته با ما تماس بگیرید (hello@gooshibegooshi.com) و در این صورت مبلغ پرداخت شده را به شما بازمی گردانیم. 
				    </li>
				
                    <li>
مدت زمان انتقال اطلاعات بستگی مستقیم دارد به مدل گوشی جدید و قدیم و اینکه چه قدر به تکنولو‌ژی روز  نزدیک هستند. در بیشتر موارد، انتقال اطلاعات در کمتر از ۲۰ دقیقه انجام می شود. اما "گوشی ب گوشی" تضمین کلی (SLA) در خصوص زمان مورد نیاز ارایه نمی دهد. 
                    </li>
                    
                    <li>
"گوشی ب گوشی" برای موبایل هایی که سازنده ی آن ها امکان انتقال اطلاعات را ملغی کرده اند و یا API نرم افزاری را در اختیار ما قرار نمی دهند قابل استفاده نیست. قبل از خرید می توانید با ما تماس گرفته و مطمین شوید که "گوشی ب گوشی" موبایل شما را پشتیبانی می کند.                    
                    </li>				
				
				    <li>
خرید لایسنس "گوشی ب گوشی" استقاده از سرویس های دیگر "استارت آپ بیتاپرداز" نظیر پشتیبانی آنلاین (Cloud Backup)، تخلیه ی امن موبایل (ٍSecure Erase) را برای شما فراهم نمی کند. برای خرید سرویس های دیگر باید لایسنس جدا خریداری نمایید. 
				    </li>
				    
				    <li>
تیم پشتیبان "گوشی ب گوشی" تضمین می کند به تماس های شما در ظرف ۲۴ ساعت پاسخگو باشد.
				    </li>
				    
				    <li>
استفاده از آیکون و لوگوی "گوشی ب گوشی"، ارایه ی سرویس های مرتبط بدون اطلاع بیتاپرداز و تولید نسخه های غیر قانونی (Cracked Versions) پیگرد قانونی و جزایی خواهد داشت.				    
				    </li>
				
				</ol>
				
			 </div>
            
       
		</section>
	{% endblock section %}	


