{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> قوانین{% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

                <h3 style="text-align:center">
                    قوانین و مقررات استفاده از "گوشی ب گوشی"
                </h3>
                
                <br><br>
        
                <ol style="text-align:justify">
                
                    <li>                   
نرم افزار "گوشی ب گوشی" توسط "استارت آپ بیتاپرداز" و با استفاده از نیروی متخصص داخلی و صرف هزینه و زمان زیادی تولید شده و یک تیم جوان و پرانرژی آن را پشتیبانی می کند. خواهشمند است از تولید نسخه های کپی و غیر قانونی خودداری کرده و بیتاپرداز را در ارایه ی یک سرویس با کیفیت به هموطنان عزیزمان یاری نمایید. اگر به جز تولید نسخه ی غیرقانونی به راستی راهی برای کسب درآمد و گذران مخارج زندگی ندارید با ما تماس بگیرید. 
				    </li>
				    
				    
				    <li>
اگر پس از استفاده از "گوشی ب گوشی" از سرویس دریافت شده رضایت نداشته باشید می توانید تا ظرف یک هفته با ما تماس بگیرید (hello@gooshibegooshi.com) 
<strong style="color:red">
و در این صورت مبلغ پرداخت شده را به شما بازمی گردانیم. 
</strong>
				    </li>
				
				
                    <li>  
نرم افزار "گوشی ب گوشی" اطلاعات موبایل قدیمی را به صورت افلاین (و نه انلاین) به موبایل جدید منتقل می کند. بدین معنا که اطلاعات شما از کامپیوتر خارج نمی شود و به هیچ وجه در دسترس دیگران قرار نمی گیرد. اطلاعات موبایل از طریق اینترنت منتقل نمی شود و ما متعهد هستیم از حریم شخصی شما حمایت کنیم.    
				    </li>
				    
				    <li>
برای استفاده از "گوشی ب گوشی" باید اطلاعات حساب کاربری (نام کاربری و رمز عبور) را وارد کنید. اطلاعات حساب کاربری به سرور "گوشی ب گوشی" ارسال می شود تا دسترسی کاربران به نرم افزار مدیریت شود. 				   
				    </li>
				    
				    <li>
برای استفاده از "گوشی ب گوشی" باید به اینترنت متصل باشید. روی لینک اینترنت شما فقط اطلاعات حساب کاربری (نام کاربری  و رمز عبور) منتقل می شود و هیچ یک از اطلاعات شخصی که روی موبایل دارید روی لینک اینترنت قرار نمی گیرد. 
				    </li>
				    
				
                    <li>
مدت زمان انتقال اطلاعات بستگی مستقیم دارد به مدل گوشی جدید و قدیم و اینکه چه قدر به تکنولو‌ژی روز  نزدیک هستند. در بیشتر موارد، انتقال اطلاعات در کمتر از ۲۰ دقیقه انجام می شود. اما برای موبایل های قدیمی تر این زمان ممکن است کمی افزایش خواهد یافت. 
                    </li>
                    
				    
				    <li>
تیم پشتیبان "گوشی ب گوشی" تضمین می کند به تماس های ایمیلی شما طول هفته و در تمامی روز (<span > ۷ </span>
<span style="text-direction:rtl" > * </span>
<span > ۲۴ </span>)

پاسخگو باشد.
				    </li>
				    
				    
				
				</ol>
				
			 </div>
            
       
		</section>
	{% endblock section %}	


