{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} بیتاسینک -> {% endblock title %}


	

	{% block extracss %} 
		 
	{% endblock extracss %}

	{% block extrajs %}
		
	{% endblock extrajs %}
  

	{% block section %} 
		<section class="main-section" id="service"><!--main-section-start-->
			<div class="container">

				<div class="row">
						 <p> از تماس شما متشکریم</p>
        			<p> برای بازگشت به صفحه اصلی <a href="/"> اینجا </a> را کلیک کنید </p> 
        
				</div>
			 </div>
            
       
		</section>
	{% endblock section %}	



