{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> رمز عبور {% endblock title %}



	{% block extracss %} 
		 <link rel="stylesheet" href="{% static "user_profile/css/reset_pass.css" %}">		 

		 
	{% endblock extracss %}

	{% block extrajs %}

<script>
    
    window.onload = function() {
        $(".progress-bar").animate({width: "100%"}, 3000);  
    };

</script>

	{% endblock extrajs %}
  

	{% block section %} 
	
		<section class="main-section" id="service"><!--main-section-start-->
            
            
            
            <div class="container">

                <div class="col-md-12 .col-xs-12 pull-center">
					 
					<h3>طرح انتخاب شده</h3>
					<hr>
							

							<img src="{{ selected_plan.image_link }}"  alt= "{{ selected_plan.plan_name }}" > <br>
						  <span> {{selected_plan.long_description}} </span><br>

							{% if coupon_available %}
								قیمت = <del> {{selected_plan.original_price }} </del> <span> تومان</span> <br>
								قیمت با احتساب تخفیف: {{selected_plan.discounted_price}} <span> تومان</span>
							{% else %}
								قیمت = {{selected_plan.original_price }} <span> تومان</span>
							{% endif %}
                    
							<br><br>
                                اکنون شما را به درگاه پرداخت متصل می کنیم. لطفا شکیبا باشید
                            <br>
                            
                            <br>
                    
                            <div class="progress" style="width: 500px;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform:rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);"> 
                                
                                <div class="progress-bar" role="progressbar" style="width: 0%;">
                                </div>
                                
                            </div>
                    
                    
						<br><br>
                    
				</div>                   
                
                
                
                
				
		    </div>

       
		</section>
	{% endblock section %}	

