{% extends 'bitasync_site/base.html' %}
{% load staticfiles  %}

{% block title %} گوشی ب گوشی -> فعال سازی  {% endblock title %}




	{% block extracss %}
		  <link rel="stylesheet" href="{% static "user_profile/css/activate.css" %}">
	{% endblock extracss %}

	{% block extrajs %}

	{% endblock extrajs %}


	{% block section %}
		<section class="main-section" id="service"><!--main-section-start-->

			<div class="container">


				 <div class="row">


					 <div class="col-md-4  pull-right">
						<div id="palanselected" class="offer offer-danger">
							<div class="shape">
								<div class="shape-text">

								</div>
							</div>
							<div class="offer-content">
								<h3 class="lead">

								</h3>

									 <h3>طرح انتخاب شده</h3>
					<hr>


						      <br>
				                <img src="{{ selected_plan.image_link }}"  alt= "{{ selected_plan.plan_name }}" > 
						      <br>
							</div>
						</div>
					</div>

                     
                     

				<div  class=" col-md-8 pull-right">
                    <br><br>
                    <p>
                            شما بسته «گوشی ب گوشی» خود را فعال کرده اید و به زودی یک ایمیل تاییدیه از «گوشی ب گوشی» دریافت خواهید کرد. اکنون می توانید با کلمه و رمز عبور خود به نرم افزار وارد شده و اطلاعات خود را انتقال دهید.
                        
                    </p>
                    
                    <br>
                    
                    <p>
                        کد رهگیری سفارش شما 
                        {{follow_up_number}}
                        است. لطفا این کد را در یک جای امن نگه داری کنید و در تماس های خود با تیم پشتیبانی آن را ذکر کنید. 
                    </p>
                    
                    <br>
                    
                    <p>
                        برای آشنایی با نرم افزار می توانید به صفحه ی «راهنمای نرم افزار» مراجعه کنید. هم چنین، تیم پشتیبانی «گوشی ب گوشی» خوشحال خواهد شد اگر به شما کمکی بکند. در صورت نیاز به قسمت «تماس با ما» رفته و با تیم پشتیبانی تماس بگیرید. 
                    </p>
                    
				</div>
					                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     
                     


				</div>
				


			</div>


		</section>


	{% endblock section %}
